/* Muscle Section */
.muscle-section-divider {
  width: 100%;
  height: 60px;
  border-bottom: 5px solid black;
  margin-bottom: 75px;
  text-align: center
}

.muscle-section-name {
  background-color: white;
  padding: 0 20px;
  font-size: 100px;
}

/* Exercise Header */
.exercise {
  display: flex;
  align-items: center;
  margin: 20px;

  font-size: 100px;
  font-weight: bold;
}

/* Weights */
.weight-widget {
  display: flex;
  align-items: center;
  margin: 20px;

  margin-right: 50px;
}

.weight-pair {
  display: flex;
  align-items: center;
  margin: 20px;

  margin-bottom: 75px;
}

.weight {
  display: flex;
  align-items: center;
  margin: 20px;

  height: 100px;
  text-align: center;
  font-size: 100px;
  padding: 0px 10px 0px;
  margin: 5px;
}

img {
  width: 100px;
}
