div {
  display: flex;
  align-items: center;
  margin: 20px;
}

.exercise {
  font-size: 100px;
  font-weight: bold;
}

.weight-widget {
  margin-right: 50px;
}

img {
  width: 100px;
}

.weight {
  height: 100px;
  text-align: center;
  font-size: 100px;
  padding: 0px 10px 0px;
  margin: 5px;
}
