#layout {
    display: flex;
}

#controls {
    padding: 20px;
}

.control {
    display: block;
    margin: 20px;
}

#upload-button {
  width: 75px;
  height: 25px;
}

#upload-box {
  width: 200px;
  height: 200px;
  border: 2px solid;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  border: 1px solid;
  height: 20px;
  text-align: right;
}

.row-id {
  text-align: right;
}

.category {
  min-width: 100px;
  text-align: right;
}

#categories {
  display: none;
  grid-template-columns: 100px 100px;
  grid-gap: 1px;
}

.category-select {
  display: flex;
  height: 30px;
  background-color: #FFF;
  box-shadow: 0 0 0 1px black;
  justify-content: center;
  align-items: center;
}
