#upload {
  width: 200px;
  height: 200px;
  border: 2px solid;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  border: 1px solid;
  height: 20px;
}

.category {
  min-width: 100px;
}

#categories {
  display: none;
  grid-template-columns: 100px 100px;
  grid-gap: 1px;
}

.box {
  display: flex;
  height: 30px;
  background-color: #FFF;
  box-shadow: 0 0 0 1px black;
  justify-content: center;
  align-items: center;
}
