#upload {
  width: 200px;
  height: 200px;
  border: 2px solid;
}

table {
  border-collapse: collapse;
}

td {
  padding: 5px 10px;
  border: 1px solid;
  height: 20px;
}

.category {
  min-width: 100px;
}

#test {
  display: none;
  grid-template-columns: 150px 150px;
  grid-gap: 5px;
}

.box {
  height: 50px;
  padding: 20px;
  background-color: #444;
}
