<!DOCTYPE html>
<html>
<head>
    <meta charset="us-ascii">

    <script src="js/jquery.js"></script>
    <script src="js/music.js"></script>
</head>

<body>
     <audio controls>
         <source src="John Lennon/watching_the_wheels.mp3" type="audio/mpeg">
     </audio>
     <audio controls>
         <source src="Misc/hear_me_knocking.mp3" type="audio/mpeg">
    </audio>

    <div id="artists"></div>
</body>
</html>

<!--audio = new Audio("start url");

  audio.addEventListener('ended',function(){
        audio.src = "new url";
        audio.pause();
        audio.load();
        audio.play();
    });

OR

var audio = $("#player");
-->
