<!DOCTYPE html>
<html>
<head>
    <meta charset="us-ascii">

    <script src="js/jquery.js"></script>
    <script src="js/links.js"></script>

    <link rel="stylesheet" href="css/links.css">
</head>

<body>
    <a href="reference">Reference</a>
    <a href="try">Try This</a>
    <a href="xfer">Xfer</a>
    <a href="misc">Misc</a>
    <a href="ansible">Ansible</a>
    <a href="kubernetes">Kubernetes</a>
    <a href="ansibledocker">Ansible+Docker</a>
    <a href="cplusplus">C++</a>
    <a href="devops">DevOps</a>
    <a href="aws">AWS</a>
    <a href="docker">Docker</a>
    <a href="frontend">Front End</a>
    <a href="go">Go</a>
    <a href="zsh">ZSH</a>
    <a href="nodejs">Node.js</a>
    <a href="database">DB</a>
    <a href="python">Python</a>
    <a href="ruby">Ruby</a>
    <a href="javascript">JavaScript</a>
    <a href="programming">Programming</a>
    <a href="swift">Swift</a>
    <br>

    <div id="add-div"></div>
    <div id="links"></div>
</body>
</html>
