<!DOCTYPE html>
<html>
<head>
    <meta charset="us-ascii">
    <!--
    <script src="js/jquery-3.2.1.js"></script>
    <script src="js/url_param.js"></script>
    <script src="js/link_divs.js"></script>

    <script src="js/load_links.js"></script>
    <script src="js/append_link.js"></script>
    <script src="js/remove_link.js"></script>
    -->
    <link rel="stylesheet" href="css/links.css">
</head>

<body>
    <a href="?file=reference">Reference</a>
    <a href="?file=try">Try This</a>
    <a href="?file=xfer">Xfer</a>
    <a href="?file=misc">Misc</a>
    <a href="?file=ansible">Ansible</a>
    <a href="?file=kubernetes">Kubernetes</a>
    <a href="?file=ansibledocker">Ansible+Docker</a>
    <a href="?file=cplusplus">C++</a>
    <a href="?file=devops">DevOps</a>
    <a href="?file=aws">AWS</a>
    <a href="?file=docker">Docker</a>
    <a href="?file=frontend">Front End</a>
    <a href="?file=go">Go</a>
    <a href="?file=zsh">ZSH</a>
    <a href="?file=nodejs">Node.js</a>
    <a href="?file=database">DB</a>
    <a href="?file=python">Python</a>
    <a href="?file=ruby">Ruby</a>
    <a href="?file=javascript">JavaScript</a>
    <a href="?file=programming">Programming</a>
    <a href="?file=swift">Swift</a>
    <br>

    <button id="add" type="button">Add</button>
    <input id="new-link" type="text" size="100">
    <br>

    <div id="links"></div>
</body>
</html>
