<!DOCTYPE html>
<html>
<head>
    <meta charset="us-ascii">

    <script src="js/jquery.js"></script>
    <script src="js/edit.js"></script>

    <link rel="stylesheet" href="css/money.css">
</head>

<body>

<table>
  <tr>
    <td>3</td>
    <td>11/02/2020</td>
    <td>DOORDASH*TOP POT DOUGH</td>
    <td>Instacart</td>
    <td>Sale</td>
    <td>198.26</td>
    <td>
      <select name="category" id="one">
        <option value="groceries">Groceries</option>
        <option value="computer" selected>Computer</option>
        <option value="household">Household</option>
        <option value="toys">Toys</option>
      </select>
    </td>
    <td>
      <select name="category" id="one">
        <option value="groceries">Groceries</option>
        <option value="computer" selected>Computer</option>
        <option value="household">Household</option>
        <option value="toys">Toys</option>
      </select>
    </td>
    <td>
      <select name="category" id="one">
        <option value="groceries">Groceries</option>
        <option value="computer" selected>Computer</option>
        <option value="household">Household</option>
        <option value="toys">Toys</option>
      </select>
    </td>
    <td>
      <select name="category" id="one">
        <option selected></option>
        <option value="groceries">Groceries</option>
        <option value="computer">Computer</option>
        <option value="household">Household</option>
        <option value="toys">Toys</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>4</td>
    <td>11/03/2020</td>
    <td>AMZN*1234</td>
    <td>Amazon</td>
    <td>Sale</td>
    <td>112.30</td>
    <td colspan=4></td>
  </tr>
  <tr>
    <td colspan=5></td>
    <td>62.30</td>
    <td>
      <select name="category" id="one">
        <option value="groceries">Groceries</option>
        <option value="computer" selected>Computer</option>
        <option value="household">Household</option>
        <option value="toys">Toys</option>
      </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td colspan=5></td>
    <td>50.00</td>
    <td>
      <select name="category" id="one">
        <option value="groceries">Groceries</option>
        <option value="computer" selected>Computer</option>
        <option value="household">Household</option>
        <option value="toys">Toys</option>
      </select>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>

<div id="transactions"></div>

</body>
</html>

<!--
{
  "id" "3",
  "date": "11/29/2020",
  "transaction": "INSTACART",
  "type": "Sale",
  "vendor": "Instacart",
  "categories": ["Groceries"],
  "amount": "198.26"
}
{
  "id" "4",
  "date": "11/29/2020",
  "transaction": "AMZN",
  "type": "Sale",
  "vendor": "Amazon",
  "categories": ["Mixed"],
  "amount": "100.00",
  "parts": [
  {
    "amount" "50.00",
    "categories": ["Computer"]
  },
  {
    "amount" "50.00",
    "categories": ["Household"]
  }
}
-->
