<!DOCTYPE html>
<html>
<head>
    <meta charset="us-ascii">

    <script src="js/jquery.js"></script>
    <script src="js/edit.js"></script>

    <link rel="stylesheet" href="css/money.css">
</head>

<body>

<div id="test">
    <div class="box">ONE</div>
    <div class="box">TWO</div>
    <div class="box">THREE</div>
    <div class="box">FOUR</div>
</div>

<table id="transactions">
    <tr>
        <th>id</th>
        <th>date</th>
        <th>description</th>
        <th>vendor</th>
        <th>type</th>
        <th>amount</th>
        <th>categories</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
</table>

</body>
</html>
