<!DOCTYPE html>
<html>
<head>
    <meta charset="us-ascii">

    <script src="js/jquery.js"></script>
    <script src="js/orbitry.js"></script>
    <script src="js/edit.js"></script>
    <script src="js/edit-upload.js"></script>

    <link rel="stylesheet" href="css/edit.css">

    <title>Orbitry Money</title>
</head>

<body>
<div id="controls-div">
    <div id="upload-div"></div>

    <div id="inputs-div">
        <input id="month" type="text" size="7">
        <input id="account" type="text" size="12">
    </div>

    <div id="buttons-div">
        <button id="load-btn" type="button">Load</button>
        <button id="save-btn" type="button">Save</button>
    </div>
</div>

<table id="transactions"></table>

<div id="categories">
    <div class="category-select">Books Sid</div>
    <div class="category-select">Camp</div>
    <div class="category-select">Car Fuel</div>
    <div class="category-select">Car Insurance</div>
    <div class="category-select">Car Licensing</div>
    <div class="category-select">Car Maintenance</div>
    <div class="category-select">Career</div>
    <div class="category-select">Cat</div>
    <div class="category-select">Charity</div>
    <div class="category-select">Clothing Lauren</div>
    <div class="category-select">Clothing Rob</div>
    <div class="category-select">Clothing Sid</div>
    <div class="category-select">Cleaning Services</div>
    <div class="category-select">Electronics</div>
    <div class="category-select">Consumables</div>
    <div class="category-select">Electricity</div>
    <div class="category-select">Entertainment Lauren</div>
    <div class="category-select">Entertainment Rob</div>
    <div class="category-select">Extracurricular</div>
    <div class="category-select">Financial</div>
    <div class="category-select">Fitness Lauren</div>
    <div class="category-select">Fitness Rob</div>
    <div class="category-select">Fitness Sid</div>
    <div class="category-select">Food Delivery</div>
    <div class="category-select">Furniture</div>
    <div class="category-select">Garden</div>
    <div class="category-select">Gifts</div>
    <div class="category-select">Groceries</div>
    <div class="category-select">Healthcare</div>
    <div class="category-select">Heating Oil</div>
    <div class="category-select">Home Improvement</div>
    <div class="category-select">Home Maintenance</div>
    <div class="category-select">Home Miscellaneous</div>
    <div class="category-select">Household</div>
    <div class="category-select">Internet</div>
    <div class="category-select">Life Insurance</div>
    <div class="category-select">Miscellaneous</div>
    <div class="category-select">Mortgage</div>
    <div class="category-select">Online Services Family</div>
    <div class="category-select">Online Services Rob</div>
    <div class="category-select">Outing Family</div>
    <div class="category-select">Outing Rob and Lauren</div>
    <div class="category-select">Parking and Tolls</div>
    <div class="category-select">Pharmacy</div>
    <div class="category-select">Political Donation</div>
    <div class="category-select">School Donation</div>
    <div class="category-select">School Miscellaneous</div>
    <div class="category-select">School Tuition</div>
    <div class="category-select">Self Care</div>
    <div class="category-select">Sewer</div>
    <div class="category-select">Taxi</div>
    <div class="category-select">Toiletries</div>
    <div class="category-select">Toys and Games Sid</div>
    <div class="category-select">Trash</div>
    <div class="category-select">Travel</div>
    <div class="category-select">Transit</div>
    <div class="category-select">TV</div>
    <div class="category-select">Umbrella Insurance</div>
    <div class="category-select">Water</div>
    <div class="category-select"></div>
</div>

</body>
</html>
