<!DOCTYPE html>
<html>
<head>
    <meta charset="us-ascii">

    <script src="jquery.js"></script>
    <script src="js/money.js"></script>

    <link rel="stylesheet" href="css/money.css">
</head>

<body>
    <div id="layout">
        <div id="upload-box"></div>

        <div id="controls">
            <input class="control" type="text">

            <select class="control" name="account">
                <option value="amazon">Amazon</option>
                <option value="freedom">Freedom</option>
                <option value="bank">Bank</option>
            </select>

            <button id="upload-button" class="control" type="button">Upload</button>
        </div>
    </div>
</body>
</html>
